upstream fjfnaranjo-bot {
    server fjfnaranjo-bot:8001;
}
server {
    listen      443 ssl;
    server_name           example.com;
    ssl_certificate       /botcert/example.crt;
    ssl_certificate_key   /botcert/example.key;
    location / {
        include uwsgi_params;
        uwsgi_pass fjfnaranjo-bot;
    }
}
