upstream fjfnaranjo-bot {
    server bot:8001;
}
server {
    listen      443 ssl;
    server_name           YOURDOMAIN.EXAMPLE;
    ssl_certificate       /botcert/YOURPUBLIC.pem;
    ssl_certificate_key   /botcert/YOURPRIVATE.key;
    location / {
        include uwsgi_params;
        uwsgi_pass fjfnaranjo-bot;
    }
}
